<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>学习</h1>
<div>{{ n1 }}</div>
<div>{{ n2 }}</div>

<div>{{ n2.0 }}</div>
<div>{{ n2.1 }}</div>
<div>{{ n2.2 }}</div>
<div>
    {%  for item in n2 %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<hr/>
{{ n3 }}
{{ n3.name }}
{% for items in n3.keys %}
    <li>{{ items }}</li>
{% endfor %}

{% for k,v in n3.items %}
    <li>{{ k }}:{{ v }}</li>
{% endfor %}
<hr/>
{{ n4 }}
{{ n4.1.name }}
{% for items in n4 %}
    <div>{{ items.name }} {{ items.salary }}</div>
{% endfor %}
<hr/>
{% if n1 == 'Tom' %}
    <h1>this is tom</h1>
{% elif n1 == 'Jerry' %}
    <h1>this is jerry</h1>
{% endif %}

</body>
</html>